/* new-product */
#fullpage img {
  width: 100%;
}

/* product */
.pl-card-img {
  /*height: 350px;*/
}
.pl-card-text {
  text-align: center;
}
.ps-container {
  text-align: center;
}
.ps-container img {
  width: 100%;
  margin-bottom: 0.2rem;
}

/* about-us */
.au-pic {
  width: 100%;
}
.au-info {
  height: 100%;
}

/* contact-us */
.cu-map {
  height: 500px;
}
.cu-info {
  height: 100%;
}

/* hr */
.hr {
  display: flex;
  flex-flow: column nowrap;
}

/* responsive */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  
}

@media (max-width: 575.98px) {
  
}

@media (max-width: 767.98px) {
  .cu-col {
    margin-top: 0 !important;
  }
}

@media (max-width: 991.98px) {
  
}

@media (max-width: 1199.98px) {
  
}