/* common */
.img-reset {
  border: none !important;
  box-shadow: inherit !important;
  background: inherit !important;
  max-width: inherit !important;
  max-height: inherit !important;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*grid-template-rows: auto auto auto;*/
  grid-gap: 2rem;
  justify-content: space-evenly;
  align-items: end;
}
.grid-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50%;
}

/*table-reset*/
.table-reset td {

}
.table-reset, .table-reset th, .table-reset td {
  border: 1px solid #000000 !important;
  vertical-align: middle;
}
.table-reset th {
  text-align: center !important;
}
.table-reset td {
  font-size: 58%;
}

/* table-no-border */
.table-no-border, .table-no-border th, .table-no-border td {
  border: 0 !important;
}
.table-no-border td {
  font-size: 58%;
  text-align: center !important;
  padding: 1rem;
}
.table-no-border td div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* reveal.js - reveal.css override */
.reveal .slides > section, .reveal .slides > section > section {
  padding: 0 !important;
}

/* reveal.js - black.css override */
.reveal section img {
  margin: 0 !important;
}

/* reveal.js - sky.css override */
.reveal ol {
  list-style-type: lower-latin; /* lower-alpha lower-latin lower-roman upper-alpha upper-latin upper-roman decimal-leading-zero */
  list-style-position: inside;
  margin: 20px 0;
}

/* plyr */
.plyr__controls {
  width: 100%;
}

/* section-first */
.section-first div {
  display: flex;
  justify-content: space-around;
}
.section-first span {
  display: flex;
}

/* section-tpt */
.section-tpt > div {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-tpt > div > div:nth-child(2) { /* pic */
  flex: 1 1 0;
  align-self: stretch; /* compatible for safari */
  overflow: hidden; /* compatible for safari */
}
.section-tpt > div > div:nth-child(2) img {
  height: 100%;
}
.section-tpt > div > p:nth-child(3), .section-tpt > div > ol:nth-child(3) { /* text */
  align-self:flex-start;
}
.section-tpt > div > div:nth-child(4) { /* audio */
  width: 100%;
}
.section-tpt p, .section-tpt li {
  text-align: justify;
  font-size: 65%;
}

/* section-tp */
.section-tp img {
  max-height: 600px;
}

/* section-text */
.section-text p {
  text-align: left;
}
