[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = bdtgzj

[dn]
CN = www.ehomeguru.com.cn
emailAddress = webmaster@ehomeguru.com.cn
O = JiangSu eHomeGuru Technology Co. Ltd.
L = WuXi
ST = JiangSu
C = CN

[ext]
subjectAltName = DNS:*.ehomeguru.com.cn,DNS:ehomeguru.com.cn,DNS:localhost
