<!DOCTYPE html>
<html lang="zh">
  <head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="description" content="江阴市博物馆 志愿者讲解员 招聘">
    <meta name="keywords" content="江阴市博物馆 志愿者讲解员 招聘">
    <title>江阴市博物馆-志愿者讲解员-招聘启事</title>
    <!-- link -->
    <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href='stylesheets/bootstrap.css' />
    <link rel="stylesheet" type="text/css" href='stylesheets/bootstrap-responsive.css' />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!-- script -->
    <script type="text/javascript" src="javascripts/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
  </head>
  <body>
    <div id="header"></div>
    <div id="pagebody"></div>
    <div id="footer"></div>
  </body>
</html>
