<% include ../header.html %>
<div class="container">
  <form class="form-horizontal">
    <div class="control-group">
      <div class="controls">
        <a href="/user">注册筑智帐号</a>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">邮箱</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="邮箱" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">密码</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="密码" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox inline"><input type="checkbox" checked="checked" />记住我</label>
        <a href="" class="checkbox inline">忘记密码？</a>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button id="login" type="submit" class="btn btn-primary">登录</button>
      </div>
    </div>
  </form>
</div>
<% include ../footer.html %>
