<footer>
  <div class="container">
    <div class="row footer-row">
      <div class="col-sm-auto footer-qr">
        <div><img src="/img/qr-wx.jpg" alt="qr-wx"></div>
        <div>微信公众号</div>
      </div>
      <div class="col-sm footer-icp">
        <div>苏州赫森网络科技有限公司</div>
        <div>苏ICP备19033734号-1</div>
      </div>
      <div class="col-sm-auto footer-qr">
        <div><img src="/img/qr-wb.jpg" alt="qr-wb"></div>
        <div>微博</div>
      </div>
      <div class="col-sm-auto footer-qr">
        <div><img src="/img/qr-dy.jpg" alt="qr-dy"></div>
        <div>抖音</div>
      </div>
    </div>
  </div>
</footer>