<footer>
  <div class="container footer-content">
    <div class="footer-qr">
      <div><img src="/img/qr-wx.jpg" alt="qr-wx"></div>
      <div>微信公众号</div>
    </div>
    <div class="footer-icp">
      <div>苏州赫森网络科技有限公司</div>
      <div>苏ICP备18050813号</div>
    </div>
    <div class="footer-qr">
      <div><img src="/img/qr-dy.png" alt="qr-dy"></div>
      <div>微博</div>
    </div>
    <div class="footer-qr">
      <div><img src="/img/qr-dy.png" alt="qr-dy"></div>
      <div>抖音</div>
    </div>
  </div>
</footer>